@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@keyframes customBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);  /* Increased from -5px */
  }
  60% {
    transform: translateY(-5px);   /* Increased from -2.5px */
  }
}

@tailwind base;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray_200);
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFBFD;
  --primary: #009AFF;
  --secondary: #B84CEB;
  --gray_200: #DAE1E7;
}

.cl-formButtonPrimary {
  background-color: var(--primary);
}

/* .cl-userButtonOuterIdentifier {
  color: var(--background);
  font-size: 1rem;
  line-height: 1.5rem;
}

.cl-userButtonBox {
  display: flex;
  flex-direction: row-reverse;
} */

.cl-userButtonAvatarBox {
  width: 2.5rem;
  height: 2.5rem;
}

body {
  background-color: var(--background);
}

body, nav, div {
  margin: 0;
}

/* for subsections in table of contents, head2 is for main section titles */
.head3{
  margin-left: 10px;
  list-style-type: circle;
}
.head4{
  margin-left: 20px;
  list-style-type: square;
}